.section {
  &-about {
    padding: 100vh 25rem 10rem 25rem;
    color: $color-white;
  }
  &-vision,
  &-services {
    padding: 10rem 25rem;
    background: $color-white;
    @include backgroundImage("/public/files/about-section-bg.png");
  }
  &-ethos {
    padding: 10rem 24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    @include backgroundImage("/public/files/person-bg.png");
    &__details {
      color: $color-white;
      flex: 60%;
      &-title {
        font-size: 5rem;
        font-weight: lighter;
        padding-bottom: 2rem;
      }
      &-subtitle {
        font-size: 1.8rem;
        line-height: 1.3;
        font-weight: lighter;
        &:not(:last-child) {
          padding-bottom: 3rem;
        }
      }
    }
  }
  &-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &__items {
      flex: 40%;
      h2 {
        font-size: 3.5rem;
        font-weight: lighter;
        padding-bottom: 2.5rem;
      }
      ul {
        list-style: inside;
        li {
          font-weight: lighter;
          font-size: 2rem;
          padding-bottom: 20px;
        }
      }
    }
  }
  &__head {
    &-title {
      font-size: 2rem;
      font-weight: lighter;
      padding-bottom: 10px;
    }
    &-subtitle {
      font-size: 5rem;
      font-weight: lighter;
      padding-bottom: 3rem;
    }
    &-descr {
      font-size: 1.8rem;
      font-weight: lighter;
      line-height: 1.2;
    }
  }
}
