.link-btn {
  &,
  &:visited {
    color: $color-white;
    font-weight: lighter;
    font-size: 1.6rem;
    border-bottom: 2px solid $color-white;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    color: $color-pink;
    border-color: $color-pink;
  }
}
