.section {
  &-contact {
    gap: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
    padding: 10rem 15rem;

    @include respond(tab-port) {
      padding: 4rem 3rem;
    }

    @include backgroundImage("/public/files/contact-us-bg.png");

    &__form {
      flex: 50%;
      padding: 5rem;
      border: 2px solid $color-white;
      color: $color-white;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      &-title {
        font-size: 3rem;
        font-weight: lighter;
        letter-spacing: 1px;
        padding-bottom: 30px;
      }

      &-label {
        font-weight: lighter;
        font-size: 1.4rem;
        letter-spacing: 1px;
      }

      &-input {
        &,
        &:active {
          width: 100%;
          max-width: 280px;
          outline: none;
          border: none;
          color: $color-white;
          border-bottom: 3px solid $color-white;
          background: transparent;
          padding: 4px;
          margin-bottom: 20px;
          transition: all 0.3s ease-in-out;
        }
        &:focus {
          border-color: $color-pink;
        }
      }

      &-textarea {
        width: 100%;
        margin-top: 20px;
        background: $color-gray;
      }

      &-button {
        background: transparent;
        margin-top: 20px;
        border: 2px solid $color-white;
        padding: 8px 25px;
        color: $color-white;
        font-weight: lighter;
      }
    }

    &__details {
      padding-top: 30px;
      color: $color-white;

      &-title {
        font-size: 3rem;
        font-weight: lighter;
        padding-bottom: 10px;
      }
      &-subtitle {
        font-size: 1.5rem;
        font-weight: lighter;
        line-height: 1.3;
      }
      &-social {
        padding-top: 8rem;

        p {
          font-size: 1.5rem;
          font-weight: lighter;
          padding-bottom: 15px;
        }

        ul {
          justify-content: flex-start;
        }
      }
    }
  }
}
